* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color:bisque;
}
nav .logo {
  float: left;
  line-height: 5rem;
  font-size: 3rem;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav ul {
  float:right;
  position: relative;
  margin-right: 3rem;;
}
nav ul li {
  /* float:left; */
  display: inline-block;
  background-color: black;
}
nav ul li:hover > ul{
  top: 5rem;
  opacity: 1;
  visibility: visible;
}
nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  line-height: 5rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
}
nav ul ul {
  position:absolute;
  top: 6rem;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul ul li {
  position: relative;
  margin:0;
  width: 15rem;
  float: none;
  display:list-item;
}