:root {
  --dark_green: #003d2b;
  --green_dark: #045725;
  --green: #025f44;
  --light_green: #ade6bb;
  --yellow: #ffdc64;
  --dark_gray: #333333;
  --grey: #6a6e6d;
  --light_gray: #929393;
  --beige: #e4c2b1;
  --light_beige: #e6c1b2;
  --light: #efefef;
  --whitesmoke: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
/* ------ Header -------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 14rem;
}
.navbar a {
  text-decoration: none;
}
/* ----- logo ----- */
.nav-logo {
  font-size: 4.1rem;
  font-weight: 700;
  color: var(--dark_green);
}
.nav-logo:hover {
  color: var(--green);
}
/* ------ navigator ------ */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.nav-item {
  list-style: none;
  margin-left: 5rem;
}

.nav-link {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--dark_green);
}
.nav-link:hover {
  color: var(--green);
}
/* --------- dropdown menu --------- */
.fa-chevron-down {
  padding: 0.8rem;
}
.product-dropdown {
  position: relative;
}
.mobile-dropdown {
  display: none;
}
.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0;
  left: -1rem;
  display: none;
  background-color: white;
}
.product-dropdown:hover > .dropdown,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.dropdown li {
  clear: both;
  width: 18rem;
  padding: 1rem 2rem;
}
.dropdown li:hover {
  background-color: var(--light);
  color: var(--green);
}
.dropdown a {
  font-size: 2rem;
  font-weight: 400;
  color: var(--green);
}
.get-started {
  background-color: var(--green);
  border-radius: 0.8rem;
  padding: 0.7rem 2.5rem;
}
.get-started a {
  color: var(--light);
}
.get-started:hover {
  background-color: var(--light);
}
.get-started:hover > a {
  color: var(--dark_green);
}
/* ------- hamburger menu ------ */
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--dark_green);
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 1.5rem 2rem;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
    top: 7rem;
  }
  .nav-item {
    margin: 0;
    padding: 2.5rem 0;
    width: 100%;
  }
  .nav-item:hover {
    background-color: var(--light);
  }
  .dropdown a {
    font-size: 2rem;
    font-weight: 400;
  }
  .product-dropdown:hover > .dropdown,
  .dropdown:hover {
    display: none;
  }
  .product-dropdown:hover ~ .mobile-dropdown,
  .mobile-dropdown:hover {
    display: block;
  }

  .mobile-dropdown ul {
    width: 100vw;
  }
  .mobile-dropdown ul li {
    padding: 1.2rem;
  }
  .mobile-dropdown ul li:hover {
    background-color: var(--light);
  }
  .mobile-dropdown a {
    color: var(--dark_green);
    font-size: 2rem;
    font-weight: 400;
  }
  .mobile-dropdown ul li:hover > a {
    color: var(--green);
  }

  .get-started {
    background-color: white;
    border-radius: 0%;
  }
  .get-started a {
    color: var(--green);
  }
  .get-started:hover {
    background-color: var(--green);
  }
  .get-started:hover > a {
    color: white;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* ---------- Hero Section ----------- */

#hero-section {
  display: flex;
  height: 71.1rem;
}
.hero-content {
  background-color: var(--beige);
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container {
  padding: 3rem;
  width: 56rem;
}
.hero-content-header {
  font-size: 7rem;
  font-weight: 700;
  word-wrap: break-word;
  text-transform: uppercase;
}

.content-container ul li {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.7rem;
  padding: 1rem;
}
.content-container button {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: var(--green);
  padding: 1.5rem 3rem;
  margin: 1.5rem 0;
  border: none;
  border-radius: 1rem;
}
.content-container button:hover {
  color: var(--light);
  background-color: var(--grey);
}
.content-container b {
  display: block;
  font-size: 2.5rem;
  margin: 1rem;
}
.hero-image {
  flex-basis: 50%;
  background-image: url("./images/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1200px) {
  .hero-content {
    flex-basis: 100%;
  }
  .hero-image {
    flex-basis: 0;
  }
}

/* --------- Servises ------------ */

#services-section {
  background-color: var(--light);
  display: flex;
  justify-content: space-around;
  padding: 2rem 3rem;
}
.service-item {
  width: 49rem;
  padding: 2rem;
}
.service-item-header {
  font-weight: 600;
  font-size: 3rem;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.section-icon {
  background-color: var(--light_beige);
  padding: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.service-title {
  word-wrap: break-word;
}
.service-item p {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--grey);
  padding: 2rem 0;
}

@media (max-width: 1200px) {
  #services-section {
    flex-direction: column;
    align-items: center;
  }
}

/* --------- Tariff ---------  */
#tariff-section {
  display: flex;
}
.tariff-content {
  flex-basis: 50%;
  padding: 7rem;
  display: flex;
  flex-direction: column;
}
.tariff-title {
  font-size: 5rem;
  font-weight: 700;
  padding: 2rem 0;
  text-transform: uppercase;
}
.tariff-content p {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 4rem;
}
.tariff-content a {
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--green_dark);
  padding: 0.8rem 0;
}
.tariff-content a:hover {
  color: var(--grey);
}
.benefits-content {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
}
.benefits-container {
  background-color: var(--light);
  margin: 5rem;
  padding: 5rem;
}
.benefits-title {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.benefits-container ul li {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 1.5rem 0;
}
.tariff-section-btn {
  width: 100%;
  background-color: var(--green);
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem;
  margin: 1.5rem 0;
  border: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
}
.tariff-section-btn:hover {
  color: var(--light);
  background-color: var(--grey);
}
.benefits-container b {
  font-size: 2.2rem;
  margin: 1.5rem 0;
}

@media (max-width: 1200px) {
  #tariff-section {
    flex-direction: column;
  }
}

/* ------- Covers ---------  */
#covers-section {
  background-color: var(--light);
  padding: 5rem;
}
.covers-wrapper ul li {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0.8rem;
}
.covers-wrapper ul li:hover {
  background-color: white;
}
.main {
  flex-basis: 70%;
  display: flex;
  align-items: center;
}
.left-side-content {
  flex-basis: 95%;
  display: flex;
  align-items: center;
}
.img-wrapper {
  width: 8.5rem;
  margin: 2rem;
}
.img-wrapper img {
  width: 100%;
  border-radius: 0.8rem;
}
.covers-item-title {
  font-size: 2.2rem;
  font-weight: 600;
}
.covers-item-content p {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--grey);
}
.right-side-content {
  flex-basis: 5%;
}
.right-side-content i {
  font-size: 1.2rem;
}
.cover-down-icon {
  display: none;
}
.extension {
  display: none;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--dark_grey);
  padding: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
}
.covers-wrapper ul li:hover > .main {
  flex: 50%;
}
.covers-wrapper ul li:hover > .extension {
  display: block;
  flex: 50%;
}
@media (max-width: 1200px) {
  .covers-wrapper ul li {
    flex-direction: column;
  }
  .main {
    width: 100%;
  }
  .cover-down-icon {
    display: block;
  }
  .cover-right-icon {
    display: none;
  }
}

/* ------------ Specification --------- */
#specification-section {
  display: flex;
  padding: 5rem;
  background-color: var(--whitesmoke);
}
.covered-content {
  flex-basis: 50%;
  margin-right: 2rem;
}
.not-covered-content {
  flex-basis: 50%;
  margin-left: 2rem;
}
.covered-content-item {
  display: flex;
  justify-content: space-between;
  border-radius: 0.8rem;
  padding: 1.5rem 1rem;
}
.covered-content-item:hover,
.not-covered-content-item:hover {
  background-color: white;
}
.covered-content-item .left {
  display: flex;
}
.left span {
  margin: 0 2rem;
}
.covered-content-item i {
  align-self: center;
  font-size: 1.4rem;
}
.covered-content-title,
.not-covered-content-title {
  font-size: 5rem;
  font-weight: 700;
  margin: 1.5rem 0;
  text-transform: uppercase;
}
.covered-content-item-title {
  font-size: 2.2rem;
  font-weight: 600;
}
.covered-content-item-description {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--light_gray);
}
.not-covered-content-item {
  display: flex;
  border-radius: 0.8rem;
  padding: 1.5rem 1rem;
}
.not-covered-content-item i {
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 1.5rem;
  align-self: center;
}
@media (max-width: 1200px) {
  #specification-section {
    flex-direction: column;
  }
}
/* ------ Rating ------ */
#rating-section {
  display: flex;
  padding: 5rem;
  background-color: var(--light);
  color: var(--green);
}
.rating-container {
  padding: 5rem;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rating-container a {
  color: var(--green);
  font-size: 2.5rem;
  font-weight: normal;
}
.rating-container a:hover {
  color: var(--grey);
}
.rating-title {
  font-size: 3rem;
  font-weight: 500;
}
.stars {
  margin: 2rem 0;
}
.stars i {
  font-size: 3.2rem;
}
@media (max-width: 1200px) {
  #rating-section {
    flex-direction: column;
  }
}

/* -------- Customer Voices -------- */
#customers-voice-section {
  display: flex;
  padding: 8rem;
  background-color: var(--whitesmoke);
}
.left-side-container {
  flex-basis: 60%;
  padding: 3rem;
}
.customers-voice-left-title {
  font-size: 5.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.left-side-container p {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.2rem;
  word-wrap: break-word;
  color: var(--grey);
  margin: 3rem 0;
}
.customers-img-wrapper {
  width: 35rem;
  background-color: var(--light_green);
  padding: 0 2rem;
}
.customers-img-wrapper img {
  width: 100%;
}
.right-side-container {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.border-div {
  border: 1px solid var(--light_green);
  padding: 2rem 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.customers-voice-right-title {
  font-size: 3.3rem;
  font-weight: 700;
}
.border-div small {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.5rem;
}
.customer-stars i {
  color: var(--yellow);
  font-size: 3.2rem;
  margin: 2rem 0;
}
.border-div p {
  font-size: 2.2rem;
  font-weight: 400;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.button-wrapper i {
  font-size: 3rem;
  border-radius: 50%;
  padding: 2rem;
  margin: 0 1rem;
}
.customer-left-icon {
  color: var(--light_gray);
  border: 0.3rem solid var(--light_gray);
}
.customer-right-icon {
  border: 0.3rem solid black;
}
@media (max-width: 1200px) {
  #customers-voice-section {
    flex-direction: column;
  }
}

/* -------- FAQ -------- */
#faq-section {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.faq-content {
  padding: 3rem;
}
.faq-section-title {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.faq-content ul li {
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 2rem;
}
.faq-content ul li:hover {
  background-color: white;
}
.faq-content ul li .left-part {
  display: flex;
  align-items: center;
}
.faq-content i {
  margin: 0 2rem;
}

/* ------- Download ------  */
#download-section {
  background-color: var(--beige);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.download-content {
  padding: 8rem;
  text-align: center;
}
.download-section-title {
  font-size: 6.5rem;
  font-weight: 700;
}
.download-content p {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 3rem 0;
}
.img-btn {
  display: inline-block;
  width: 18rem;
  height: 5rem;
  margin: 3rem;
  border-radius: 0.8rem;
}
.app-store {
  background-image: url("./images/app_store.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.google-play {
  background-image: url("./images/google.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* ------- Footer ------ */
footer {
  padding: 5rem;
}

.footer-row {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1200px) {
  .footer-row {
    flex-direction: column;
  }
}
.footer-item-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
  color: var(--dark_green);
}
footer ul li a {
  font-size: 2.2rem;
  line-height: 3.5rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.footer-img-btn {
  display: inline-block;
  width: 16rem;
  height: 5rem;
  border-radius: 0.8rem;
}
.footer-img-btn:hover {
  opacity: 0.6;
}
.footer-app-store {
  background-image: url("./images/app_store.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1rem;
}
.footer-google-play {
  background-image: url("./images/google.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer ul li i {
  text-align: center;
  font-size: 2.2rem;
  color: white;
  width: 4rem;
  height: 4rem;
  padding-top: 0.8rem;
  margin: 0.5rem;
  background-color: black;
  text-decoration: none;
}
footer ul li i:hover {
  color: black;
  background-color: white;
}
footer .extra {
  padding: 3rem;
  font-size: 2.2rem;
  line-height: 3.5rem;
}
footer .footer-extra-title {
  font-weight: 500;
}
.footer-extra-description {
  font-weight: 400;
}

@media (max-width: 767px) {
  footer .attribution span {
    display: block;
  }
}
footer .attribution {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 5rem;
}
footer .attribution span {
  margin: 0 3rem;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}




.list-choice{
  width:300px;
  position: relative;
  cursor: pointer;  
}
.list-choice input[type="radio"]{
  position:absolute;
  left:-9999px;
}

.list-choice-title {
width: 100%;
display: block;
background: var(--light);
text-align: center;
padding: 1rem;
box-sizing: border-box;
color: black;
border-radius: 0.2em;
font-size: 1.2rem;
}
.list-choice:hover .list-choice-title {
border-radius:0.2rem 0.2rem 0 0;
}
.list-choice-objects label:nth-last-of-type(1) span{
  border-radius:0 0 0.2rem 0.2rem;
}
.list-choice input[type="radio"] + span {
color: black;
background: var(--light);
padding: 1em;
display: block;
text-align: center;
box-sizing: border-box;
cursor: pointer;
width: 100%;
font-size: 1.2rem;
}
.list-choice-objects {
position: absolute;
top: 1rem;
padding-top: 2.1rem;
box-sizing: border-box;
width: 100%;
overflow: hidden;
max-height: 0;
transition: all 250ms ease;
}
.list-choice:hover .list-choice-objects  input[type="radio"] + span {
position: relative;
top: 0;
transition: all 250ms ease-in-out;
}
.list-choice:hover input[type="radio"] + span:hover {
background:#BBB;
}
/* .list-choice:hover input[type="radio"]:checked + span:hover {
background:#74D68E;
}
.list-choice input[type="radio"]:checked + span {
background: #74D68E;
position: absolute;
top: 0em;
border-radius: 0.2em;
} */
.list-choice:hover input[type="radio"]:checked + span {
border-radius: 0;
}
.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
  border-radius:0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
max-height: 540px;
}